@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Mobile First */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
}

main {
    flex: 1;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conteudo-principal {
    position: relative;
    background-color: rgba(242, 54, 58, 1);
    border-radius: 50px 50px 0 0;
    margin-top: 5vw;
    padding: 1vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.imagem-ajustada {
    margin: 10% 0 0;
    min-width: 310px;
    max-width: 752px;

}

.texto-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 4%;
}

.texto-esquerdo {
    color: var(--cor-verde);
    font-size: var(--fonte-m1);
    max-width: 100%;
    font-weight: var(--fonte-bold);
    word-wrap: break-word;
    white-space: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-esquerdo h1 {
    margin: 0;
    color: var(--cor-branco);
    font-size: var(--fonte-g);
}

.highlight {
    color: var(--cor-verde);
    font-weight: var(--fonte-black);
    font-size: var(--fonte-g);
}

.btn {
    text-align: center;
    text-decoration: none;
    font-weight: var(--fonte-bold);
    font-size: 0.9rem;
    background-color: var(--cor-verde);
    border-radius: 20px;
    padding: 1rem;
    min-width: 172px;
    max-width: 240px;
    width: 60%;
    color: var(--cor-preto);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(5px);
    box-shadow: none;
}

.btn:active {
    opacity: 0.5;
}

@media (min-width: 425px) {
    .texto-esquerdo h1,
    .highlight {
        font-size: 3rem;
    }

    .btn {
        margin: 2rem 0;
    }
}

@media (min-width: 768px) {
    .texto-container {
        align-items: center;
        text-align: center;
    }

    .conteudo-principal {   
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .conteudo-principal {   
        display: flex;
        padding: 2%;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
    }

    .imagem-ajustada {
        position: absolute;
        bottom: 0;
        left: 70%;
        width: 600px;
        transform: translateX(-50%);
        height: auto;
    }

    .texto-container {
        width: 50vw;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
    }
}

@media (min-width: 1300px) {
    .conteudo-principal {   
        padding: 0 5%;
    }

    .imagem-ajustada {
        left: 75%;
        width: 630px;
    }

    .texto-esquerdo h1,
    .highlight {
        font-size: 4rem;
    }
}

@media (min-width: 1440px) {
    .imagem-ajustada {
        width: 630px;
        left: 73%;
    }

    .conteudo-principal {   
        padding: 0 10%;
    }

    .texto-esquerdo h1,
    .highlight {
        width: 90%;
    }

    .btn {
        font-size: var(--fonte-p);
    }
}