@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Mobile First */

:root {
    --cor-roxo: #6951F1;
    --cor-branco: #F0F0F0;
    --cor-cinza: #D9D9D9;
    --cor-preto: #2E2F2A;
    --cor-rosa: #F2363A;
    --cor-verde: #CFEA1C;

    --fonte-pp: 12px;
    --fonte-p: 16px;
    --fonte-m1: 20px;
    --fonte-m2: 22px;
    --fonte-g: 32px;
    --fonte-xg: 80px;

    --fonte-regular: 400;
    --fonte-medium: 500;
    --fonte-semiBold: 600;
    --fonte-bold: 700;
    --fonte-black: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: var(--cor-roxo);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 3px 10px  var(--cor-preto);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nome {
    display: flex;
    align-items: center;
}

.nome h1 {
    color: #fff;
    margin-right: 10px; 
}
.nome h3 {
    color: #fff;
    font-size: var(--fonte-pp);
    
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.destacado {
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    background-color: var(--cor-verde);
    border-radius: 20px;
    padding: 10px 10px;
    color: var(--cor-preto);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 956px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }

    /* Centraliza o título (h1) */
    .nome {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem; 
    }

    .nome h1 {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nome h3 {
        font-size: var(--fonte-pp);
        display: block; 
    }

    /* Esconde a lista de navegação padrão */
    .nav-item,.barra {
        display: none;
    }

    /* Exibe o ícone do menu */
    .mobile-menu-icon {
        display: block;
        position: fixed; 
        top: 1rem;       
        right: 1rem;     
        z-index: 1000;   
        cursor: pointer; 
    }

    /* Estilos para o menu mobile */
    .mobile-menu.open {
        display: block;
        
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        width: 100%; /* Garantir que o menu ocupe toda a largura disponível */
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
}