<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecimento Facial</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/reconhecimento.css">

</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="nome">
                <h1>GIGA <span class="barra">|</span></h1>
                <h3>
                    Gestão Integrada de Gerenciamento Acadêmico
                </h3>
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('imgTreinoController.feedback', carregando='true') }}"
                            class="nav-link">Cadastro</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()">
                    <img class="icon" src="/static/img/menu_white_36dp.svg" alt="Menu">
                </button>
            </div>
            <div class="mobile-menu">
                <ul>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('imgTreinoController.feedback', carregando='true') }}"
                            class="nav-link">Cadastro</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h1>Reconhecimento Facial</h1>
        <p id="statusText">Clique no botão para iniciar o reconhecimento facial.</p>
        <button onclick="iniciarReconhecimento()" class="btn" id="startBtn">Iniciar Reconhecimento Facial</button>
        <button onclick="cancelarReconhecimento()" class="btn" id="cancelBtn" style="display: none;">Cancelar</button>
        <br><br>
        <img id="videoFeed" src="" alt="Video Feed" style="display: none;">
    </main>
    <footer>
        <div class="info-footer">
            <p><span class="giga-text">GIGA |</span> © 2024 Todos os Direitos Reservados.</p>
        </div>
    </footer>

    <script>
        let confiancaBaixa = false;
        let ultimaInformacao = "";  // Declarar globalmente
        let reconhecimentoAtivo = false;

        function mostrarToast(mensagem) {
            Toastify({
                text: mensagem,
                duration: 80000,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: "linear-gradient(to right, #3D0463FF, #6951F1)",
                stopOnFocus: true
            }).showToast();
        }


        // Função para iniciar o reconhecimento
        function iniciarReconhecimento() {
            mostrarToast('Aperte * Espaço*  para capturar a imagem.');
            const videoElement = document.getElementById('videoFeed');
            const statusText = document.getElementById('statusText');
            const startBtn = document.getElementById('startBtn');
            const cancelBtn = document.getElementById('cancelBtn');

            videoElement.src = "{{ url_for('reconhecimentoController.video_feed') }}";
            videoElement.style.display = 'block';

            statusText.textContent = "Reconhecimento facial em progresso...";
            startBtn.style.display = 'none';
            cancelBtn.style.display = 'inline-block';

            setInterval(verificarConfianca, 2000);
            reconhecimentoAtivo = true;
        }

        // Função para cancelar o reconhecimento
        function cancelarReconhecimento() {
            const videoElement = document.getElementById('videoFeed');
            const statusText = document.getElementById('statusText');
            const startBtn = document.getElementById('startBtn');
            const cancelBtn = document.getElementById('cancelBtn');

            videoElement.src = "";
            videoElement.style.display = 'none';

            statusText.textContent = "Clique no botão para iniciar o reconhecimento facial.";

            startBtn.style.display = 'inline-block';
            cancelBtn.style.display = 'none';

            reconhecimentoAtivo = false;
        }

        // Função para verificar a confiança
        function verificarConfianca() {
            if (!reconhecimentoAtivo) return;

            fetch('/reconhecimento/get_informacoes')
                .then(response => response.json())
                .then(data => {
                    const ultimaInformacaoData = data.ultima_informacao;
                    ultimaInformacao = ultimaInformacaoData || ""; 

                    if (ultimaInformacao) {
                        const match = ultimaInformacao.match(/Confiança: (\d+\.?\d*)/);
                        if (match) {
                            const confianca = parseFloat(match[1]);
                            confiancaBaixa = (confianca == null || confianca < 15);  // Atualiza a variável global confiancaBaixa
                        } else {
                            confiancaBaixa = true;  
                        }
                    } else {
                        confiancaBaixa = true;  
                    }

                    // Exibe uma mensagem no caso de confiança baixa
                    if (confiancaBaixa) {
                        //mostrarToast('Confiança abaixo de 80%. Reconhecimento não autorizado.');
                    }

                    console.log(ultimaInformacao); 
                })
                .catch(error => {
                    console.error('Erro ao obter informações:', error);
                    mostrarToast('Erro ao obter informações. Verifique a conexão ou tente mais tarde.');
                });
        }

        // Evento de pressionamento de tecla (Space) para avançar se a confiança for alta
        document.addEventListener('keydown', function (event) {
            if (event.code === 'Space') {
                event.preventDefault();  
                console.log(confiancaBaixa)

                if (confiancaBaixa) {
                    mostrarToast('Confiança insuficiente para redirecionar!');
                } else {
                    localStorage.setItem('ultimaInformacao', ultimaInformacao);
                    window.location.href = '/painel';
                }
            }
        });
    </script>
    <script>
        const videoElement = document.getElementById('videoFeed');
        videoElement.onload = function () {
            videoElement.style.display = 'block'; 
        };
    </script>
    <script src="/static/js/nav.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
</body>

</html>